/* Estilos para el contenido principal */
* {
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: black;
    --color-secondary: white;
    --fuente-primaria: "Bebas Neue", sans-serif;
    --fuente-secundaria: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
    font-family: var(--fuente-primaria);
}

p,
li {
    font-family: var(--fuente-secundaria);
}

a {
    text-decoration: none;
}

header {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 1em 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: var(--color-secondary);
    text-decoration: none;
}

main {
    padding: 20px;
    background-image: url(Assets/fondo.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}


.intro {
    display: flex;
    padding: 80px 40px;
    text-align: left;
    border: 2px black solid;
}

.intro h1 {
    font-size: 4rem;
    width: 600px;
    line-height: 5rem;
}

.intro h1 span {
    font-size: 7.3rem;
}

.intro p {
    font-size: 1.8rem;
    width: 40%;
}

.characters h1,
.houses h1,
.curiosidades h1 {
    font-size: 5rem;
    margin-bottom: 10px;
    color: var(--color-primary);
    border-top: 10px black solid;
    margin-top: 50px;
    text-align: center;
}

.characters img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.characters img:hover {
    transform: scale(1.05);
}

.houses-names {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
}

.houses-names h2 {
    font-size: 4rem;
    border-bottom: 10px black solid;
    margin: 10px 0;
}

.casa {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    align-items: center;
    text-align: center;
}

.casa img {
    width: 250px;
}

.casa p {
    font-size: 1.1rem;
    line-height: 1.3;
}

.curiosidades {
    padding: 20px;
    margin-bottom: 60px;
}

.curiosidades h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.curiosidades ul {
    list-style-type: none;
    text-align: center;
}

.curiosidades ul {
    font-size: 1.5rem;
    line-height: 2.5rem;
}

footer {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* diseño responsive */

@media (max-width: 768px) {
    .intro h1 {
        font-size: 2rem;
    }

    .characters p {
        font-size: 1rem;
    }

    .casa h2 {
        font-size: 1.8rem;
    }

    .casa p {
        font-size: 1rem;
    }

    .curiosidades h2 {
        font-size: 1.8rem;
    }

    .curiosidades ul {
        margin-left: 15px;
    }

    .curiosidades li {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    .intro h1 {
        font-size: 1.8rem;
    }

    .intro p {
        font-size: 1rem;
    }

    .characters {
        padding: 15px;
    }

    .characters p {
        font-size: 0.9rem;
    }

    .casa h2 {
        font-size: 1.5rem;
    }

    .casa p {
        font-size: 0.9rem;
    }

    .curiosidades {
        padding: 15px;
    }

    .curiosidades h2 {
        font-size: 1.5rem;
    }

    .curiosidades ul {
        margin-left: 10px;
    }

    .curiosidades li {
        font-size: 0.9rem;
    }
}


/*personajes pagina*/

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

/* Estilos para las tarjetas de personajes */
.card {
    border: 1px solid #0f0101e3;
    padding: 20px;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
}