/* Estilos para el contenido principal */
* {
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: black;
    --color-secondary: white;
    --fuente-primaria: "Bebas Neue", sans-serif;
    --fuente-secundaria: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
    font-family: var(--fuente-primaria);
}

p,
li {
    font-family: var(--fuente-secundaria);
    font-weight: 800;
}

a {
    text-decoration: none;
}

header {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 1em 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: var(--color-secondary);
    text-decoration: none;
}

main {
    padding: 30px;
    background-image: url(Assets/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.intro {
    display: flex;
    padding: 80px 40px;
    text-align: left;
    border: 2px black solid;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.intro h1 {
    font-size: 4rem;
    line-height: 5rem;
}

.intro h1 span {
    font-size: 7.3rem;
}

.intro p {
    font-size: 1.8rem;
    width: 40%;
}

.characters h1,
.houses h1,
.curiosidades h1 {
    font-size: 5rem;
    margin-bottom: 10px;
    color: var(--color-primary);
    border-top: 10px black solid;
    margin-top: 50px;
    text-align: center;
}

.characters img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.characters img:hover {
    transform: scale(1.05);
}

.houses-names {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
}

.houses-names h2 {
    font-size: 4rem;
    border-bottom: 10px black solid;
    margin: 10px 0;
}

.casa {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    align-items: center;
    text-align: center;
}

.casa img {
    width: 250px;
}

.casa p {
    font-size: 1.3rem;
    line-height: 1.6rem;
}

.curiosidades {
    padding: 20px;
    margin-bottom: 60px;
}

.curiosidades h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.curiosidades ul {
    list-style-type: none;
    text-align: center;
}

.curiosidades ul {
    font-size: 1.5rem;
    line-height: 2.5rem;
}

footer {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/*personajes pagina*/

.characters2 h1 {
    padding: 40px 40px;
    text-align: center;
    border: 2px black solid;
    font-size: 5rem;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 30px;
}

/* Estilos para las tarjetas de personajes */
.card {
    padding: 20px;
    text-align: center;
    margin: auto;
}

.card h2 {
    font-size: 3rem;
    border-bottom: 10px black solid;
    margin: 10px 0;
}

.card li {
    font-size: 1.5rem;
    list-style: none;
    font-weight: 200;
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: top;
}

/* diseño responsive */

@media (max-width: 800px) {
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .intro h1 {
        font-size: 4rem;
        line-height: 5rem;
        text-align: center;
    }

    .intro h1 span {
        font-size: 7.3rem;
    }

    .intro p {
        font-size: 1.8rem;
        text-align: center;
        width: 90%;
    }
}

@media (max-width: 550px) {
    .intro h1 {
        font-size: 2.2rem;
        line-height: 3rem;
        text-align: center;
    }

    .intro h1 span {
        font-size: 4rem;
    }

    .intro p {
        font-size: 1.2rem;
        text-align: center;
        width: 80%;
    }

    .houses-names {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        justify-content: center;
    }

    .curiosidades ul {
        font-size: 1.2rem;
        line-height: 2.1rem;
    }

    .characters h1,
    .houses h1,
    .curiosidades h1 {
        font-size: 3.5rem;
    }

    .grid {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .characters2 h1 {
        padding: 30px 30px;
        font-size: 3.5rem;
    }
}